

<mat-form-field>
  <mat-select placeholder="Select Facility" [(value)]="selectedFacility">
    <mat-option *ngFor="let facility of facilities" [value]="facility">
      {{facility.facilityName}} ({{facility.facilityId}})
    </mat-option>
  </mat-select>
</mat-form-field>

<br />

<mat-form-field>
  <input matInput [matDatepickerFilter]="onlyMondays" [matDatepicker]="picker" placeholder="Week Start Date" [(ngModel)]="selectedDate">
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<br />

<button (click)="viewSchedule()">{{ scheduleViewed ? "Refresh" : "View Schedule" }}</button>


<app-schedule-view #scheduleview *ngIf="scheduleViewed" [MondayDate]="selectedDate.toISOString()" [FacilityId]="selectedFacility.facilityId"></app-schedule-view>

